<!-- Spinner global -->
<ngx-spinner
size = "default"
type = "ball-clip-rotate"
[fullScreen] = "true"
>
</ngx-spinner>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['home']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['empresas']">Empresas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['funcionarios']">Funcionários</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['organograma']">Organograma</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" aria-current="page">Login</a>
    </li>
  </ul>

<br/><br/>
<div class="container">
  <alert *ngIf="showPendingChanges()" type="warning">
    <strong>Opa!</strong> parece que você tem alterações pendentes a serem salvas.
  </alert>
  <br>
  <router-outlet></router-outlet>
</div>
