<!-- Spinner global -->
<ngx-spinner
size = "default"
type = "ball-newton-cradle"
[fullScreen] = "true"
>
</ngx-spinner>
<!-- Fim Spinner global -->

<div class="wrapper">

  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3></h3>
    </div>
      <a class="nav-link" [routerLink]="['home']">Home</a>
      <a class="nav-link" [routerLink]="['empresas']">Empresas</a>
      <a class="nav-link" [routerLink]="['organograma']">Organograma</a>
      <a class="nav-link" href="#">Sobre</a>
      <a class="nav-link" href="#" aria-current="page">Login</a>
  </nav>

</div>

<br/><br/>
<div class="container">
  <router-outlet></router-outlet>
</div>
